---
layout: website
title: About Mark Higgins
active: about
description: "Meet Mark Higgins"
---
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"> 
			<p class="quote-head center-block text-center">
				<i>As Commissioner, I will use my unique skills to create more effective teams of county employees and lead the county to a more prosperous future.</i>
			</p>
			
			
		</div><!-- col 12 -->
		<div class="col-xs-12 col-md-6">
			<p class="about-mark1 text-justify">
			Mark Higgins lives in State College Borough with his wife, son and daughter who are both students at State College Area High School. He currently works at Link Computer, where he has increased sales of Link’s Cloud Services division by over 600% in five years.  
			<br>
			<br>
			Higgins has worked for 30 years as a turnaround specialist in industry and, over that time, has saved and created hundreds of jobs at seven different businesses. 
			<br>
			</p>
			<br>
			<br>
		</div><!-- col 6/12-->
		<div class="col-xs-12 col-md-6 center-block">
			<img class="about-mark-pic" src="/assets/images/about-mark.jpg" style="width: 75%; padding-top: 5%; padding-left: 5%;">
		</div><!-- col 6/12-->
	</div><!--row -->
	<hr class="hr-faded" style="width: 90%; margin: 7%;">
	<div class="about-mark2">
		<div class="row">
			<div class="col-md-12 center-block">
				<h2 class="text-center center-block">Leadership</h2>
						<li>Chamber of Business and Industry of Centre County,<br>Workforce Development Committee</li>
						<li>Graduate, Leadership Centre County</li>
						<br>
						<br>
				<h2 class="text-center center-block">Volunteering</h2>
						<li>Cub Scouts - Committee Chair</li>
						<li>Park District League - Boys Soccer Coach</li>
						<li>State College Cycling - Vice President</li>
						<li>Community Theatre - Crew Chief</li>
						<li>2014 campaign to pass the State High referendum.</li>

					 	<br>
					 <br>
					 <br>
					 <br>
			</div><!-- col 12 -->
		</div><!--row-->
	</div><!-- mark2-->
</div><!-- container-->
