---
layout: website
title: Contact Us
active: contact
description: "Contact Us"
---

<div class="main-mobile">
  <div class="visible-xs-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
        		<img class="hero-mobile img-responsive" src="/assets/images/courthouse.jpg">
        </div><!-- col-->
      </div><!-- row-->

		<div class="contact-info">
		  <div class="row">
			<div class="col-xs-12" style="padding-left: 5%;">
				<h2 class="text-left"> Reach Out </h2>
					<p class="text-left"> Contact Mark Higgins at:
					<br>
					<br>
					Friends of Mark Higgins
					<br>
					149 W. Fairmount Ave.
					<br>
					State College, PA 16801
					<br>
					mail@friendsofmarkhiggins.com
					</p>
			</div><!-- col-->
			<div class="col-xs-12">
			  <div class="likebox-wrapper">
				<div class="center-block fb-like-box" data-href="https://www.facebook.com/higginsforcommissioner" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" style="background-color: rgba(0,0,0,.5);">
				</div>
			  </div><!--wrapper -->
			</div><!-- col-->
		  </div><!-- row-->
		</div><!--contact-info -->

</div><!-- visible -->
</div><!-- contact-mobile-->

<!---END MOBILE -->

<div class="visible-sm-block visible-md-block visible-lg-block">

<div class="hero hero-contact">
	<div class="container-fluid">
		<div class="contact-info">
		  <div class="row">
			<div class="col-md-6" style="padding-left: 5%;">
				<h2 class="text-left"> Reach Out </h2>
					<p class="text-left"> Contact Mark Higgins at:
					<br>
					<br>
					Friends of Mark Higgins
					<br>
					149 W. Fairmount Ave.
					State College, PA 16801
					<br>
					mail@friendsofmarkhiggins.com
					</p>
			</div><!-- col-->
			<div class="col-md-6">
			  <div class="likebox-wrapper">
				<div class="center-block fb-like-box" data-href="https://www.facebook.com/higginsforcommissioner" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" style="background-color: rgba(0,0,0,.5);">
				</div>
			  </div><!--wrapper -->
			</div><!-- col-->
		  </div><!-- row-->
		</div><!--contact-info -->
	</div><!-- fluid -->
</div><!--hero-->
</div><!--visible medium -->