---
layout: website
title: Mark Higgins for County Commissioner
active: index
description: "Vote Mark Higgins for County Commissioner"
---

<div class="main-mobile">
  <div class="visible-xs-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
        		<img class="hero-mobile img-responsive" src="/assets/images/mobilemain.jpg">
        </div><!-- col-->
      </div><!-- row-->
 
      <div class="container-fluid">
      <div class="row">
      	<div class="col-xs-12">
					<h1 class="text-center">Mark Higgins</h1>
						<h2 class="text-center">is ready to take on a <i>new challenge</i> — to work for the citizens of Centre County as County Commissioner, creating good jobs and providing more effective services here in Centre County.</h2>
				</div><!--COL  -->
		</div><!-- row-->

	<h1 class="intro2-head center-block">Turnaround Expert</h1>
	<div class="intro2">
		<div class="row row-centered">
			<div class="col-md-4 col-centered">
				<h4><i>More</i></h4>
					<h3>Good jobs</h3>
			</div>
			<div class="col-md-4 col-centered">
				<h4><i>Improved</i></h4>
					<h3>County Services</h3>
			</div>
			<div class="col-md-4 col-centered">
				<h4><i>Increased</i></h4>
					<h3>Transparency</h3>
			</div>
		</div><!--row-->
	</div><!--intro2-->
		<hr class="hr-faded" style="width: 75%;">
	<div class="row row-centered">
		<div class="col-md-12 col-centered">
			<h2 class="intro3-head center-block">Six successful business turnarounds</h2>
				<p>-saving and creating <b>hundreds</b> of jobs in 
				<b>three</b> different industries over <b>30</b> years- </p>
				<a role="button" class="btn btn-block center-block
				btn-donate" href="https://secure.piryx.com/donate/3qvjaiS9/Friends-of-Mark-Higgins/">DONATE
			</a>
			<br>
			<br>
		</div><!-- col -->
	</div> <!--row -->
</div><!-- container-fluid-->
  </div><!-- visible xs-->
</div><!-- end main mobile -->


<div class="visible-sm-block visible-md-block visible-lg-block">
<div class="hero hero-index">
	<div class="container-fluid">
		<h1>Mark Higgins</h1>
		<h2>is ready to take on a <i>new challenge</i> — <br>to work for the citizens of Centre County 
			<br>
			as County Commissioner, creating good jobs 
			<br>
			and providing more effective services here in Centre County.</h2>
	</div>
</div>

<div class="container-fluid">
	<h1 class="intro2-head center-block">Turnaround Expert</h1>
	<div class="intro2">
		<div class="row row-centered">
			<div class="col-md-4 col-centered">
				<h4><i>More</i></h4>
					<h3>Good jobs</h3>
			</div>
			<div class="col-md-4 col-centered">
				<h4><i>Improved</i></h4>
					<h3>County Services</h3>
			</div>
			<div class="col-md-4 col-centered">
				<h4><i>Increased</i></h4>
					<h3>Transparency</h3>
			</div>
		</div><!--row-->
	</div><!--intro2-->
		<hr class="hr-faded" style="width: 75%;">
	<div class="row row-centered">
		<div class="col-md-12 col-centered">
			<h2 class="intro3-head center-block">Six successful business turnarounds</h2>
				<p>-saving and creating <b>hundreds</b> of jobs in 
				<b>three</b> different industries over <b>30</b> years- </p>
				<a role="button" class="btn btn-lg center-block
				btn-donate" href="https://secure.piryx.com/donate/3qvjaiS9/Friends-of-Mark-Higgins/">DONATE
			</a>
			<br>
			<br>
		</div><!-- col -->
	</div> <!--row -->
	<br>
	<br>
<!--<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div><! col div><!ow
</div> container -->
</div>
</div><!-- visible -md -->