---
layout: website
title: Mark Higgins for County Commissioner
active: volunteer
description: "Thank you for helping!"
---
<div class="volunteer-page">
<div class= "container-fluid">
  <div class="row">
    <div class="col-xs-12 col-centered">
      <h1 class="text-center">Volunteer with Us</h1>
        <p class="text-center">Thank you for your interest!
          You'll hear from us soon!</p>
            <br>
    </div><!--col-->
  </div><!--row-->
</div><!-- container -->
</div> <!-- volunteer -->
