---
layout: website
title: Mark Higgins for County Commissioner
active: volunteer
description: "Help out your community by volunteering!"
---

<div class="volunteer-page">
<div class= "container-fluid">
  <div class="row">
    <div class="col-xs-12 col-centered">
      <h1 class="text-center">Volunteer with Us</h1>
        <p class="text-center">Enter your e-mail and phone number (optional) 
          <br>
          and someone from the campaign will be 
          <br>
          in touch with you shortly!</p>


<style type="text/css">
  #mc_embed_signup{background:#fff; font-size: 1.6rem; font-family: 'Open Sans'; text-align: center; padding: 1%; width: 60%; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//friendsofmarkhiggins.us10.list-manage.com/subscribe/post?u=7ba47ebd1685b241382380fe4&amp;id=12fa359415" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
  <input type="email" value="Enter Email" style="color:#888;" name="EMAIL" class="required email" onfocus="inputFocus(this)" onblur="inputBlur(this)" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <input type="text" name="MMERGE1" size="25" style="width: 100%; color:#888;" value="Enter Phone Number" onfocus="inputFocus(this)" onblur="inputBlur(this)" id="mce-MMERGE1">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7ba47ebd1685b241382380fe4_12fa359415" tabindex="-1" value=""></div>
    <div class="clear"><input type="Sign Up" value="Subscribe" name="subscribe" onclick="location.href='thankyou.html'"id="mc-embedded-subscribe" style="text-align: center; margin-left: auto; margin-right: auto;" class="volunteer-button btn center-block"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script type='text/javascript'> function inputFocus(i){
    if(i.value==i.defaultValue){ i.value=""; i.style.color="#000"; }
}
function inputBlur(i){
    if(i.value==""){ i.value=i.defaultValue; i.style.color="#888"; }
} </script>
<!--End mc_embed_signup-->
            
    </div><!--col-->
  </div><!--row-->
</div><!-- container -->
</div> <!-- volunteer -->