<div class="footer-parallax">
  <div class="container">
    <div class="row text-center-xs">
      <div class="col-xs-12 col-sm-4 center-vertical">
        <a href="https://twitter.com/Gastrograph"><i class="socialMediaButton fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.facebook.com/pages/Gastrograph/417664028315185"><i class="socialMediaButton fa fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/gastrograph"><i class="socialMediaButton fa fa-linkedin-square fa-2x"></i></a>
        <!--<a href=""><i class="socialMediaButton fa fa-instagram fa-2x"></i></a>-->
        <p class="text-left-sm text-center-xs text-left-md text-left-lg">
          Registered Trademark &reg;<br>Copyright &copy; 2014 Analytical Flavor Systems
          <br>Patented
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 center-vertical">
        <div class="row">
          <div class="col-md-6">
            <a id="link-footer-play-store" href="https://play.google.com/store/apps/details?id=com.gastrograph.testggapp">
              <img class="center-block button-play-store" alt="Android app on Google Play"
              src="/assets/images/en_app_rgb_wo_45.png" />
            </a>
          </div>
          <div class="col-md-6 footer-badge-app-download">
            <a id="link-footer-app-store" class="center-block" href="https://itunes.apple.com/us/app/gastrograph-review/id923512201?mt=8&uo=4" target="itunes_store" style="display:block;overflow:hidden;margin:2px auto 10px;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <h6>
              <a href="/privacy.html">Privacy</a> &middot;
              <a href="/TOS.html">TOS</a>  &middot;
              <a href="/security/">Security</a>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 center-vertical pull-right">
        <br>
        <br>
        <p class="text-right-sm text-center-xs text-right-md text-right-lg">
          Contact our CEO Jason Cohen at<br>(305) 794 - 8392<br>
          <a href="mailto:JasonCEC@gastrograph.com">JasonCEC@gastrograph.com</a>
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
{% include hotjar.html %}
{% include adwords.html %}
