<div class="footer">
  <p class="text-center">
    Paid for by Friends of Mark Higgins   
    ©2015 Friends of Mark Higgins. All Rights Reserved</p>
</div>

  <div class="footer-blue">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12  center-vertical">
        <a href="https://www.facebook.com/higginsforcommissioner"><i class="socialMediaButton fa fa-facebook-square fa-4x"></i></a>

        <a href="https://www.linkedin.com/pub/mark-higgins/16/36a/969"><i class="socialMediaButton fa fa-linkedin-square fa-4x"></i></a>
        <!--<a href=""><i class="socialMediaButton fa fa-instagram fa-2x"></i></a>-->
        <p class="text-center">
          Friends of Mark Higgins
          <br>
          149 W. Fairmount Ave.
          <br>
          State College, PA 16801
          <br>
          mail@friendsofmarkhiggins.com
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- footer blue-->

