<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- canonical url -->
  <link rel="canonical" href="{{site.url}}{{page.url | replace:'index.html',''}}"/>

  <!-- shortcut icon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- bundled stylesheet -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

   <!-- fonts -->
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Oswald' rel='stylesheet' type='text/css'>
  <!--Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrapValidator.min.css">
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-dropdown.js"></script>

  <!-- delivered stylesheets -->
  <link rel="stylesheet" href="http://www.upsingh.in/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


  <!-- Page Description -->
  {% if page.description %}<meta name="description" content="{{ page.description }}"> {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  

    <style>
  body{
    background:
    url("/assets/images/bg.png") no-repeat,
    url("/assets/images/noisy_grid.png");
  }
  </style>

  {% comment %} Keep here as it loads the mathjax fast {% endcomment %}
  {% if page.url contains 'whitepapers' %}
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=onload"></script>
  {% endif %}

  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("e6802ddedf45bb2827ad33777164d400");</script><!-- end Mixpanel -->


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
     <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script> 
      



</head>
