<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand {% if page.active == 'index' %} active {% endif %}" href="/" id="navbar-link-brand-index" >Mark Higgins</a>
    </div><!-- /.navbar-header -->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if page.active == 'index' %}class="active" {% endif %}><a href="/index.html" id="navbar-link-index">Home</a></li>
        <li {% if page.active == 'about' %}class="active" {% endif %}><a href="/about.html" id="navbar-link-about">About</a></li>

        <li class="dropdown{% if page.active == 'contact' or page.active == 'volunteer' %} active {% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbar-link-contact-dropdown">Contact<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/contact.html" id="navbar-link-contact">Contact</a></li>
            <li><a href="/volunteer.html" id="navbar-link-volunteer">Volunteer</a></li>
          </ul>
        </li><!-- /.dropdown -->
        
        <li {% if page.active == 'donate' %}class="active" {% endif %}><a href="https://secure.piryx.com/donate/3qvjaiS9/Friends-of-Mark-Higgins/" id="navbar-link-donate">Donate</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->

     