html {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-size: 62.5%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  height: 100%;
  width: 100%;
  padding-top: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald" !important;
}
body p, b {
  font-family: "Open Sans" !important;
  font-size: 2.6rem;
}


.navbar-right {
  margin-right: 8px !important;
}

.navbar .btn-success {
  color: #fff;
}

.glyphicon-log-in {
  margin-right: 5px;
}

.navbar {
  margin-bottom: 0;
  font-size: 2rem;
  font-family: "Oswald";
}
.navbar-inverse {
  background-color: #11181F !important;
}
.wrapper-glyphs .row {
  margin: 8% auto;
}

/* main page */

@media (max-width: 320px) {
  .hero-mobile {
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     }
   h1 {
  font-size: 3rem !important;
  text-align: center;
  }
  h2 {
    text-align: center;
  font-size: 2rem !important;
  line-height: 2;
  }

}

.hero-index {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: calc(100%) 20%;
  border-top: 20% solid transparent;
  margin-bottom: 5%;
  height: 650px; 
  background-image: url("/assets/images/hero-index.jpg");
  }

  .hero h1 {
  margin-top: 20%;
  padding-left: 2%;
  color: white !important;
  text-align: left;
  width: 60%;
  font-size: 6rem;
  }
  
  .hero h2 {
  padding-left: 2%;
  font-size: 2.3rem;
  color: white !important;
  text-align: justify;
  width: 65%;
  position: relative;
  line-height: 1.7;
  }


.content-main {
  background: white;
  width: 100%;
  min-height: 650px;
}
  .container {
    padding-bottom: 1%;
  }

  .row-centered {
    text-align: center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin: 0 auto;
  }

.content-wrapper {
  height: 100%;
}


.intro2-head {
  padding-bottom: 2%;
  color: #2C3E50;
  text-align: center;
  font-size: 5rem;
}

.intro2 h3 {
  color: #990000;
  font-size: 3.5rem;
}
.intro2 h4 {
  color: #990000;
  font-size: 2.5rem;
}

.intro3-head {
  padding-bottom: 2%;
  color: #2C3E50 !important;
  font-size: 3.3rem;
}

hr.hr-faded {
  border: 0;
  padding:0;
  height: 1px;
  background-image:
  -webkit-linear-gradient(left, rgba(0,0,0,0),
    rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:
  -moz-linear-gradient(left, rgba(0,0,0,0),
   rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:
    -ms-linear-gradient(left, rgba(0,0,0,0),
      rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,
      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }

 .btn-donate {
    padding: 5% 7%;
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Ubuntu Condensed";
  display: block;
  color: #1a6e09 !important;
  border: 2px solid #1a6e09 !important;
  width: 30%;
  font-size: 3.5rem !important;
  background: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
 }
/* end main page */


/*about page */
.quote-head {
  font-size: 2.5rem;
  width: 90%;
  margin-top: 8%;
}
.quote-head:before {
display: inline-block;
font-family: Georgia;
content: "\201C";
font-size: 4.5rem;
color: #7a7a7a;
}

.quote-head:after {
display: inline-block;
font-family: Georgia;
content: "\201D";
font-size: 4.5rem;
color: #7a7a7a;
text-align: bottom;
}

.about-mark1 {
  text-align: justify;
  padding-top: 10%;
  padding-left: 10%;
}

.about-mark2 {
display: block;

}

.about-mark2 li {
  font-family: "Open Sans";
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}

/*end about page */

/*CONTACT PAGE */
.hero-contact {
    background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: calc(100%) 20%;
  border-top: 20% solid transparent;
  height: 720px; 
  background-image: url("/assets/images/courthouse.jpg");
}


.contact-info {
  font-color: #DADADA;
  margin: auto;
  width: 85%;
  display: block;
  position: relative;
  background: rgba(0,0,0,.85);
  padding-top: 7%;
  padding-left: 5%;
}

@media (width: 320px) {
.contact-info {
margin-top: 20%;
margin-left: none;
margin-right: none;
}
}

.contact-info p {
  color: #ffffff !important;
  display: block;
  width: 80%;
  font-size: 2rem !important;
}

.contact-info h2 {
  font-size: 5rem;
  color: #ffffff !important;
}

.likebox-wrapper {
  width: 100% !important;

}
/* END CONTACT */

/* VOLUNTEER PAGE */

.volunteer-page {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border: 2px solid #0B1C49;
}

#mc_embed_signup {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.mc-field-group {
  display: inline-block;
}
.volunteer-button {
  padding: 5% 7%;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  float: none;
  font-family: "Ubuntu Condensed";
  display: block;
  color: #1a6e09 !important;
  border: 2px solid #1a6e09 !important;
  width: 40%;
  font-size: 3.5rem !important;
  background: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
 }
}


/*FOOTER */
.footer {
  color: #a9a9a9 !important;
  font-size: 1.8rem;
  margin-top: 1%;
}

.footer-blue {
  width: 100%;
  padding: 5%;
  background-color: #11181F;
  color: #a9a9a9;
}
  .footer p {
    margin: 0 0 12.5px;
    font-family: 'Open Sans';
    color: #a9a9a9 !important;
    font-size: 2rem !important;
  }

  .fa {
    color: #a9a9a9;
    padding:1%;
  }
  .fa-facebook-square:hover {
    color: #3664A2;
  }
  .fa-linkedin-square:hover {
    color: #0977B5;
  }

