* { margin: 0; padding: 0; }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);

a { text-decoration: none; }
a:hover { text-decoration: underline; }

body 
{ 
	font: 12px "Open Sans", Arial, sans-serif; 
	color: black; 
	background: url(/images/v2/bg-body.png) repeat-x scroll top center #FFF;
	padding: 0 0 30px; 
}
label  
{
	color: #494949;
    font-size: 16px;
}
h2  
{
	padding: 6px 0; 
	margin: 0 0 4px; 
	border-bottom: 1px solid #E7E7E7; 
	font: bold 14px "Oswald", Arial, sans-serif; 
	color: #072e3b; 
}
a img { border: 0; margin: 0; }
input, select, textarea { font-size: 16px; font-family: Helvetica, Arial, sans-serif; margin: 2px 0; }
input[type="text"], select, textarea
{
	padding: 6px 4px; 
	border: 1px solid #d4d4d4; 
	color: #626262;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input[type="text"]:focus, select:focus, textarea:focus, input.focus, select.focus, textarea.focus
{
	padding: 6px 4px; 
	border: 1px solid #091B45;
}

select { padding: 5px 1px 5px 4px; }
button { border: 0; background: transparent; }
ul.validation-summary-errors { list-style: none; }

.clear { clear: left; }
.error { color: red; }

p.instructions 
{
	font-size: 11px;
	margin: 10px 0;
}

#sandbox { background: #008; border-bottom: 0.5em solid #44a; font-size: 16pt; font-weight: normal; text-align: center; line-height: 24pt; height: 24pt; margin-bottom: 0.5em; color: white; }
#shell  
{
	width: 786px; 
	padding: 70px 0 24px; 
	margin: 0 auto;
}
#shell2 { text-align: center; }
#logo img { max-width: 786px; }
#page  
{
	text-align: left; 
	position: relative; 
	border: 1px solid #DDDDDD; 
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
	background: white url(/images/v2/bg-header.gif) repeat-x top left; 
}

#heading  
{	font: "Oswald";
	position: relative; 
	text-align: center; 
	padding: 10px 0;
	border-bottom: 1px solid #E6E6E6;
	margin: 0 30px 10px 30px;
}
#heading h1  
{
	font-size: 22px; 
	color: #072E3B;
}
#heading a  
{
	font-size: 13px; 
	font-weight: bold; 
	color: #636363; 
	text-decoration: none; 
}
#heading a:hover { text-decoration: underline; }

#message { font-size: 12px; margin: 10px 30px; }
#message p { margin: 0 0 1em; }

#message a 
{
	color: #063156;
	font-weight: bold;
}

#personal-information label, #employment-information label, #payment-information label, #billing-information label, #legal-compliance label
{
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

#legal-compliance label
{
	text-transform: uppercase;
}

span.req 
{
	width: 10px;
	height: 12px;
	text-indent: -999em;
	display: inline-block;
	vertical-align: middle;
	background: url(/images/v2/icon-required.png) no-repeat top left;
	margin: 0 0 0 3px;
}

#amount ul
{
	border: 1px solid #C7C7C7;
	background: white url(/images/v2/bg-amounts.gif) repeat-x bottom left;
	padding: 8px 14px;
}

#amount ul li 
{
	color: #7B7B7B;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
}

#amount ul.amounts.no-captions
{
	padding: 8px;
}

#amount ul.amounts.no-captions li
{
	float: left;
	text-align: center;
	width: 84px;
	font-weight: bold;
}

#amount ul.amounts.no-captions li.clear
{
	float: none;
	clear: left;
	width: 1px;
	height: 1px;
	margin: 0;
	line-height: 1px;
	font-size: 1px;
}

ul.amounts.no-captions #customAmount {
	width: 40px;
}

#amount ul span.amount
{
	color: #081B45;
	font-size: 17px;
	font-weight: bold;
}

.buttons
{
	margin: auto;
}

#billing-information .same label
{
	text-transform: uppercase;
}

#disclaimer, #contribution-type, #legal-compliance
{
	font-size: 16px;
	line-height: 18px;
	color: #777777;
}

#disclaimer  
{
	margin: 10px 30px;
}
#disclaimer p { margin: 0.5em 0; }

#legal-compliance p { margin-left: 20px; }

#paid-for-message 
{ 
	/* background: transparent url(/images/v2/bg-footer.gif) repeat-x top left; */
	position: relative; 
	margin: 10px 30px 0 30px;
	padding: 10px 0;
	border-top: 1px solid #E7E7E7; 
	min-height: 35px;
}
#paid-for-message span  
{
	border: 1px solid #606060; 
	float: left; 
	padding: 4px 6px; 
	display: block; 
	line-height: 18px; 
	margin-right: 190px;
	text-align: center;
	color: #424242;
	font-size: 12px; 
	font-weight: bold;
    max-width: 475px;
}

a.secure { position: absolute; right: 0; top: 10px; text-decoration: none; color: black;text-align: right;}
.secure img { border: 0; vertical-align:middle;}

.piryx-donation-form { margin: 0 30px; }

p.confirmation { 
    border: 1px solid #00C00C; background: #D1F6CB; font-size: 11px; line-height: 1.5em; padding: 8px; margin: 0.5em 27px;text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contribution-type label { text-transform: none; }

#scheduled-dates .remove, #add-scheduled-date { cursor: pointer; }
#scheduled-dates .scheduled-date { padding: 0.5em 0; }
#scheduled-dates .scheduled-date * { vertical-align: middle; }

#error-summary
{
	border: 1px solid #DA0F0F;
	background: #FFEDED;
	padding: 10px;
	margin: 10px 30px;
	color: black;
	text-align: center;
}

#error-summary p
{
	font-weight: bold;
	color: #D80000;
	margin: 0 0 10px;
}

#about-piryx 
{
	text-align: left;
	font-size: 13px;
	margin: 20px 10px;
	color: #323232;
}

#about-piryx h2
{
	border: none;
	font: bold 15px Helvetica, Arial, sans-serif;
	margin: 0 0 4px;
	padding: 0;
}

#about-piryx a
{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#about-piryx a:hover
{
	text-decoration: underline;
}

#action-center 
{
	background: url(/images/action-center/bg.gif) repeat-x top left;
	height: 46px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: left;
}

#action-center h1
{
	width: 116px;
	margin: 0;
	padding: 0;
}

#action-center h1 a  
{
	display: block;
	text-indent: -999em;
	height: 45px;
	width: 116px;
	background: url(/images/action-center/logo.gif) no-repeat top left;
}

#action-center .share 
{
	position: absolute;
	right: 16px;
	top: 6px;
	height: 46px;
}

#action-center .share li
{
	float: left;
	list-style: none;
	line-height: 30px;
	height: 30px;
	position: relative;
}

#action-center .share li.facebook-like
{
	background:none repeat scroll 0 0 transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 5px;
}
#action-center .share li.tweetmeme {	
	margin-top:5px;
	padding-left:15px;
	padding-right:5px;
	padding-top:0;
}

#action-center .share li.sharethis
{
	text-shadow: 1px 1px #ffffff;
	padding-left : 5px;
	padding-right: 5px;
}

#action-center .share li.sharethis p
{
	color:#B1B1B1;
	font-family:"Open Sans","Lucida Grande",sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-right:5px;
	text-transform: uppercase;
}
#action-center .share li.googlebuzz 
{ 
	padding-left: 15px; 
	margin-top:-1px;
}

#action-center .share li.divider 
{ 
	height:22px; 
	margin-top:4px; 
	border-right: 1px dotted #ffffff; 
	border-left: 1px dotted #d0d4d1;
  }
  
iframe, #action-center .share li.tweetmeme iframe, #action-center .share li.facebook-like iframe, 
#action-center .share li.tweetmeme, #action-center .share li.facebook-like 
{	
	background: transparent !important;
}
.donation-stats, .donation-stats-top { position:relative; color: #0C7539; font-weight: bold; font-size: 14px;}
.donation-stats .bar, .donation-stats-top .bar { display: block; height: 19px; border: 1px solid #156C95; background: url(/images/custom/fed/bar-bg.gif) repeat-x top left; margin: 4px 0; }
.donation-stats .bar span, .donation-stats-top .bar span { display: block; text-indent: -999em; height: 19px; background: url(/images/custom/fed/bar-fill.gif) repeat-x top left; }
.donation-stats strong, .donation-stats-top strong { color: #053657; }
.donation-stats .goal, .donation-stats-top .goal { position: absolute; right: 0; }
.donation-stats-top { width:400px; margin:0 auto; margin-bottom: 10px;}
.donation-stats .bar, .donation-stats-top .bar {
    background: #8C8D8E;
    height: 2px;
    border: none;
}
 .donation-stats .bar span, .donation-stats-top .bar span {
     background: #0CCC8D;
     height: 2px;
}

#amount {
    text-align: center;
}
#amount h2 {
    margin-bottom: 20px;
}
#amount ul.amounts.no-captions, #amount ul.captioned-amounts {
    background: none;
    border: none;
    padding: 0 145px;
}
#amount ul.amounts.no-captions li {
    float: none;
    display: inline-block;
    background: #B8C7C7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
    width: 65px;
    padding: 14px 9px 9px 8px;
    margin-bottom: 5px;
    height: 30px;
    vertical-align: top;
}
#amount ul.captioned-amounts li {
    background: #B8C7C7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 0 2px 10px;
    margin-bottom: 5px;
    min-height: 30px;
}

#amount ul.amounts.no-captions li.clear {
    background: none;
    border: none;
}
#amount ul.amounts.no-captions li:hover, #amount ul.captioned-amounts li:hover
{
    background-color: #9BB0B1;
}
#amount ul.amounts.no-captions li:last-child, #amount ul.captioned-amounts li:last-child{
    margin-right: 0px;
    padding: 0px;
}
#amount ul span.amount {
    font-size: 16px;
    display: block;
    height: 16px;
}
#amount ul li.other span.amount {
    display: inline;
}
#amount ul.amounts.no-captions li input[type="radio"], #amount ul.captioned-amounts li input[type="radio"]{
    display: none;
}
#amount ul.amounts.no-captions li br {
    display: none; 
}
#amount ul.amounts.no-captions li.select-amount, #amount ul.captioned-amounts li.select-amount{
    background-color: #0CCC8D;
}

#customAmount {
    color: #081B45;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
}
#amount ul.amounts li.other {
    height: 42px;
    padding-top: 2px;
}

.share-button:hover {
    text-decoration: none;
}

.share-button {
    color: #fff;
    display: inline-block;
    padding: 20px 18px 20px 50px;
    font-size: 18px;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.share-button-facebook {
    background: url('/images/btn_fb.png') no-repeat -10px -3px;
}
.share-button-facebook:hover {
    background: url('/images/btn_fb_hover.png') no-repeat -10px -3px;
}
.notice-grey {
    margin: 5px 0 20px;
    color: #8C8D8E;
}

.btn-submit {
	margin: auto;
    display: block;
    font-family: "Ubuntu Condensed", sans-serif;
    color: #1a6e09 !important;
    border: 3px solid #1a6e09;
    width: 25%;
    // font-size: 1.7rem;
    background: none;
    text-decoration: none;
    padding: 20px 15px;
    -webkit-font-smoothing: antialiased;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.btn-submit:hover {
    opacity: 0.9;
}

#paid-for-message p.form-secured {
    text-align: right;
    margin-right: 0px;
    border: none;
    font-size: 10px;
    margin-bottom: 2px;
    line-height: 10px;
}
