<!DOCTYPE html>
<html>
    {% include head.html %}

  <body>
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}
      {{content}}
      {% include footer.html %}
  </body>


    <script type="text/javascript">
      {% if site.production %}
        Stripe.setPublishableKey('pk_live_mk8QpO0hCOKMZGYmzOrF65K2');
      {% else %}
        Stripe.setPublishableKey('pk_test_qdunoptxl9KNXR5qk7WdtkVg');
      {% endif %}
    </script>
  

  {% comment %} if statement here for blog {% endcomment %}
</html>
